body {
  background-color: blueviolet;
}
h1{
  font-size: 2.0rem;
}
p {
  font-size: 1.5rem;
}
a {
 color: aliceblue;
 font-size: larger;
 border: 2px solid red;
 background-color:black;
}
img {
  max-height: 25%;
  width: 25%;
}
#black-girl{
  width: 50%;
}
form{
  display: flex;
  flex-direction: column

}

}